<ion-header translucent>
  <ion-toolbar>
    <ion-title>Register Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD MMMM YYYY" min="1945-08-17" max="2020-01-22" [(ngModel)]="dob"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="conf_password"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="tryRegister()" [disabled]="disabledButton">CREATE ACCOUNT</ion-button>
    <ion-button id="login-btn-2" expand="block" type="submit" color="lightgray" class="ion-no-margin" (click)="openLogin()">LOGIN EXISTING ACCOUNT</ion-button>
  </div>

</ion-content>
