<ion-content id="page-first">

  <ion-grid id="first-grid">
    <ion-row id="first-row-0" ion-align-items-start class="ion-justify-content-center"></ion-row>

    <ion-row id="first-row-1" ion-align-items-center class="ion-justify-content-center">
      <div>
        <ion-icon id="first-icon" src="assets/rubiks-cube.svg"></ion-icon>
      </div>
    </ion-row>

    <ion-row id="first-row-2" ion-align-items-end class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
  
        <div id="button-first-1">
          <ion-button (click)="openRegister()" mode="md" size="medium" expand="block">Sign Up with E-mail</ion-button>
        </div>

        <div id="separator">
          <h3 id="linetxt"><span>OR</span></h3>
        </div>

        <div id="button-first-2">
          <ion-button color="gooinv" mode="md" size="medium" expand="block">Connect Google</ion-button>
        </div>
        <div id="button-first-2">
          <ion-button color="fb" mode="md" size="medium" expand="block">Connect Facebook</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
