<ion-content id="page-welcome" class="ion-padding">
  <ion-grid id="welcome-grid">
    <ion-row id="welcome-row-0" ion-align-items-start class="ion-justify-content-center">

    </ion-row>
    <ion-row id="welcome-row-1" ion-align-items-center class="ion-justify-content-center">

      <div>
        <ion-icon id="welcome-icon" src="assets/rubiks-cube-color.svg"></ion-icon>
      </div>

        
    </ion-row>
    <ion-row id="welcome-row-2" ion-align-items-end class="ion-justify-content-center">
      <div id="welcome-text">
        <h1>FLIPPO</h1>
        <p>Your smart laptop solution</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
