#page-welcome {
    --background: #f2b632;
}

#welcome-text {
    color: black;
    text-align: center;
}

#welcome-grid {
    height: 100%;
}

#welcome-row-0 {
    height: 20%;
}

#welcome-row-1 {
    height: 45%;
}

#welcome-row-2 {
    height: 35%
}

#welcome-icon {
    height: 170px;
    width: 150px;
    //fill: white;
}